@import "tailwindcss";


:root {
 font-family: 'Space Grotesk', sans-serif;
  line-height: 1.5;
  font-weight: 400;

 
  color-scheme: light dark;
  color: rgba(27, 27, 27, 0.87);
  background-color: #f4f5f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
 margin: 0;
 font-family: 'Space Grotesk', sans-serif;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Basic styling */
body {
  background-color: #f4f5f6; /* Light gray background color from the design */
 
}

/* Utility classes */
.section-padding {
  padding: 4rem 1rem; /* Example padding for sections */
}

.text-center {
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    font-family: 'Space Grotesk', sans-serif;
  }
}
